body {
      background-color: #111111;
      color: #123433;
      margin: 0;
      padding: 0;
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
      color: #fffffe;
}
a {
      text-decoration: none;
}

header {
      padding-top: 18px;
      padding-bottom: 4px;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      border-bottom: 1px solid #888;
}
main {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
}
footer {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      text-align: center;
      margin-top: 60px;
      padding-bottom: 12px;
      font-size: 0.9rem;
}

.fg-button {
      width: 30px;
      height: 26px;
      padding: 0px;
      margin: 2px;
      border: 1px solid #333333;
      font-size: 0.9rem;
      background-color: #111;
      font-family: monospace;
}

.bg-button {
      width: 32px;
      height: 26px;
      padding: 0px;
      margin: 2px;
      border: 1px solid #666666;
      font-size: 0.9rem;
}

#background-button-wrapper {
      display: flex;
      flex-wrap: wrap;
}

#terminal {
      padding: 4px;
      background-color: black;
      margin-right: 6px;
      margin-top: 0;
}

#picker-wrapper {
      display: grid;
      grid-template-columns: 29% 42% 29%;
}
